.form {
  display: flex;
  flex-direction: column;
  color: aqua;
}
.form label {
  margin-bottom: 10px;
}
.form label input {
  margin-left: 10px;
}

.form button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
